# Карманы (инструмент для тестирования)
/target/

# Точки монтирования для IDE
.idea/
.vscode/

# Зависимости внешние
/Cargo.lock

# Сгенерированные файлы
/Cargo.toml.orig
/Cargo.toml.bak
/Cargo.toml.in
/target/

# Резервные копии и временные файлы
**/*.swp
**/*.swo
**/*~
**/*.bak
**/*.tmp